/*table {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
  width: 500px;
}

td {
  border: 1px solid black;
  width: 200px;
}*/

th {
  text-align: center;
}

/*div{
  border: 1px  solid red;
}*/

/*#piechart{
  margin-left: 100px;
}*/
#pchart{
  margin-top: 25px;
}

/*#logo{
  transform: scale(.2);
}*/

.jumbotron {
  background-color: #00EDA4;
  color: red;
  text-shadow: -1px 0 #F6F664, 0 1px #F6F664, 1px 0 #F6F664, 0 -1px #F6F664;
}
